@import "tailwindcss";

@theme {
  --color-greyish: #e2e8f0;
  --color-greyish2: #f8fafc;
  --color-greyish3: #cbd5e1;

  --breakpoint-xxs: 300px;
  --breakpoint-xs: 350px;
  --breakpoint-xsmd: 430px;
  --breakpoint-xslg: 550px;
  --breakpoint-mdlg: 900px;
}

.grid-layout {
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "sidebar header "
    "sidebar main";
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
